.trailer{
    text-align: left;
    padding: 10vh 5vw 1rem 5vw;
}

.trailer__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #131313;
    margin: 2rem 0 ;
}

.video{
    width: 60vw;
    height: 80vh;
    min-width: 320px;
    min-height: 180px;
}