.recomendations{
    text-align: left;
    padding: 1rem 5vw;
}

.recomendation__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
}

.title{
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #131313;
    margin: 1rem 0 ;
}

@media (max-width: 800px){
    .recomendation__list{
        grid-template-columns: 1fr 1fr;
    }
}